@media print {
  @page {
    size: 1000px 1414px;
    margin: 0;
  }

  body {
    margin: 20mm 15mm 10mm 15mm;
    background-color: white;
    font-size: 16px;
  }
}

.printArea {
  margin: 20mm 15mm 10mm 15mm;
  background-color: white;
  font-size: 16px;
}

.title {
  width: 885px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 20px;
  line-height: 36px;
  text-align: center;
}

.info_table { 
  height: 100%;
  border-collapse: collapse; 
  border: 1px solid #000;  
}

td {
  border: 1px solid #000;
  padding: 12px 20px;
}

th {
  border: 1px solid #000;
  padding: 12px 20px;
  text-align: center;
}

.table_info {
  display: flex;
  flex-direction: row;
}

.table_info_date {
  width: 235px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
}

.table_container {
  display: flex;
  flex-direction: row;
  height: 206px;
  margin-top: 30px;
  width: 1000px;
}

.table_info_text {
  width: 50px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-align: center;
  line-height: 4;
}

.print_total_price { 
  width: 885px;
  margin-top: 20px;
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.total_price_label {
  border-right: 1px solid #000;
  text-align: center;
  width: 240px;
  padding: 5px 20px;
  line-height: 1.5;
}

.total_price_text {
  font-size: 20px;
  font-weight: bold;
  padding-right: 20px;
}

.invoce_content {
  width: 885px;
  margin-top: 10px;
  border: 1px solid #000;
  border-collapse: collapse;
}